@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

#body {
  background-image: url(img/edbbfa09356c4cbe1745e796f1805364.gif);
  background-repeat: no-repeat;
  background-size: 220%;
  background-attachment: fixed;
  box-sizing: border-box;
  justify-content: center;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  max-height: 100vh;
  height: 100%;
}


h1,
p,
#vitoria {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Righteous", cursive;
  padding: 5px;
}

h1 {
  color: #ffffff;
  text-shadow: 2px 2px black;
  font-size: 3em;
  color: #ffffff;
  font-family: "Righteous", cursive;
  border: 0;
}

p {
  font-size: 1.1em;
  color: #fffbfb;
  text-shadow: 2px 2px black;
  box-sizing: border-box;
  border: 0;
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.5);

}

#gameContent {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
}

#mario,
#luigi {
  width: 40px;
  height: 40px;
}

.disco {
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  animation: mymove 1s;
}



.celula {
  border: 1px solid;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}

.coluna {
  display: flex;
  flex-direction: column-reverse;
}

.coluna:hover {
  background-color: cyan;
}

#vitoria {
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
  background: rgb(17, 201, 255);
  background: linear-gradient(90deg, rgb(113, 183, 204) 17%, rgba(1, 60, 85, 1) 100%);
  color: #ffffff;
  text-shadow: 1px 1px rgb(82, 66, 66);
  font-size: 1.2em;
  text-align: center;
  border: 1px solid rgb(15, 47, 105);
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 15px;
}

#restart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 150px;
  height: 40px;
  background-color: rgb(211, 149, 149);
  border: 3px solid rgb(89, 88, 65);
  border-radius: 4px;
  color: #ffffff;
  font-family: "Righteous", cursive;
  font-size: 1.4em;
}

@media (min-width: 414px) {
  #body {
    background-size: 200%;
    width: 100%;
  }

  .disco {
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .celula {
    border: 1px solid;
    width: 55px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  h1 {
    font-size: 3em;
    padding-top: 15px;
  }

  p {
    font-size: 1.4em;
  }

  #vitoria {
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}


@media (min-width: 768px) {
  #body {
    background-size: 180%;
    width: 100%;
  }

  .disco {
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .celula {
    border: 1px solid;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  h1 {
    font-size: 100px;
    color: #ffffff;
    text-shadow: 4px 4px black;
    padding-bottom: 15px;
  }

  p {
    text-align: center;
    font-size: 1.9em;
    color: #ffffff;
    padding: 20px 40px;
  }

  #restart {
    width: 310px;
    height: 75px;
    font-size: 45px;
  }

  #vitoria {
    width: 560px;
    height: 110px;
    font-size: 45px;
    border: 3px solid #ffffff;
  }

  @media (min-width: 900px) {
    #body {
      background-size: 100%;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
    }

    h1 {
      font-size: 4em;
      color: #ffffff;
      text-shadow: 2px 2px black;
    }

    p {
      text-align: center;
      font-size: 2em;
      color: rgb(255, 255, 255);
    }

    #vitoria {
      font-size: 30px;
    }
  }

  @media (min-width: 1200px) {
    #body {
      background-size: 70%;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      max-height: 80vh;
    }

    h1 {
      font-size: 6em;
    }

    p {
      width: 70%;
      color: rgb(255, 255, 255);
    }

    #vitoria {

      font-size: 30px;
    }
  }
}

@keyframes mymove {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes mymove {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}