@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

#body {
  background-image: url(img/edbbfa09356c4cbe1745e796f1805364.gif);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 245%;
  background-position: center;
  background-attachment: fixed;
  box-sizing: border-box;
  justify-content: center;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  max-height: 100vh;
  height: 100%;
}


h1,
p,
#vitoria {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Righteous", cursive;
  padding: 0 5px;
}

h1 {
  color: #ffffff;
  text-shadow: 2px 2px black;
  font-size: 3em;
  color: #ffffff;
  font-family: "Righteous", cursive;
  border: 0;
}

p {
  font-size: 1em;
  color: #fffbfb;
  text-shadow: 2px 2px black;
  box-sizing: border-box;
  border: 0;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.5);

}

#gameContent {
  display: flex;
  width: 65%;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  flex-direction: row;
  
}

.disco {
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  animation: mymove 1s;
}



.celula {
  border: 1px solid;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);

}

.coluna {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 23px 23px 10px rgba(0, 0, 0, 0.5);
}

.coluna:hover {
  background-color: cyan;
}

#vitoria {
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
  background: rgb(17, 201, 255);
  background: linear-gradient(90deg, rgb(113, 183, 204) 17%, rgba(1, 60, 85, 1) 100%);
  color: #ffffff;
  text-shadow: 1px 1px rgb(82, 66, 66);
  font-size: 1.2em;
  text-align: center;
  border: 1px solid rgb(15, 47, 105);
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 15px;
}

#restart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 150px;
  height: 40px;
  background-color: rgb(211, 149, 149);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  font-family: "Righteous", cursive;
  font-size: 1.4em;
}

@media (min-width: 414px) {
  #body {
    width: 100%;
  }

  .disco {
    background-color: black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  .celula {
    border: 1px solid;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  h1 {
    font-size: 2.5em;
    padding-top: 15px;
  }

  p {
    font-size: 1em;
  }

  #vitoria {
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}


@media (min-width: 768px) {

  #body {
    background-size: 190%;
    width: 100%;
  }

  .disco {
    background-color: black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  .celula {
    border: 1px solid;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  h1 {
    font-size: 4em;
    color: #ffffff;
    text-shadow: 4px 4px black;
    padding-bottom: 15px;
  }

  p {
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
    padding: 20px 40px;
  }
  
  #restart {
    width: 310px;
    height: 60px;
    font-size: 38px;
  }

  #vitoria {
    width: 560px;
    height: 80px;
    font-size: 40px;
    border: 3px solid #ffffff;
  }
  /*@media (min-width: 900px){

  }*/

  @media (min-width: 1020px) {
    #body {
      background-size: 140%;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      max-height: 80vh;
    }

    h1 {
      font-size: 4em;
    }

    p {
      width: 100%;
      color: rgb(255, 255, 255);
      font-size: 1.4em;
    }
  #restart {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #vitoria {
    font-size: 40px;
    width: 620px;
  }

  }
}

@keyframes mymove {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes mymove {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}