@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

#body {
  background-image: url(img/edbbfa09356c4cbe1745e796f1805364.gif);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  background-attachment: fixed;
  background-color: #000000;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}

h1,
p,
#vitoria {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  font-family: "Righteous", cursive;
  padding: 15px;
  /*color: rgba(180, 178, 168, );*/
}

h1 {
  color: #ffffff;
  text-shadow: 2px 2px black;
  font-size: 1em;
  color: #ffffff;
  font-family: "Righteous", cursive;
}
.comoJogar {
  background-color: #00000080;
}
p {
  font-size: 1em;
  color: #000000;
  
}
h3 {
  font-size: 2em;
  color: #ffffff;
  font-family: "Righteous", cursive;
  text-align: center;
  padding: 15px;
}

#gameContent {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
}

#mario, #luigi {
  width: 40px;
  height: 40px;
}

.disco {
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  animation: mymove 1s;
}

@keyframes mymove {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

/* @keyframes mymove {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
} */

.celula {
  border: 1px solid;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}
.coluna {
  display: flex;
  flex-direction: column-reverse;
}
.coluna:hover {
  background-color: cyan;
}

#vitoria {
  display: flex;
  align-items: center;
  width: 300px;
  background: linear-gradient(
    90deg,
    rgba(249, 80, 0, 1) 17%,
    rgb(223, 218, 84) 100%
  );
  color: #ffffff;
  font-size: 1.2em;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 15px;
<<<<<<< HEAD
  

=======
>>>>>>> f6ee000e274da9aef8e1d93e0be3d2c354953420
}

#restart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 150px;
  height: 40px;
  background-color: rgb(187, 134, 64);
  border: 3px solid rgb(89, 88, 65);
  border-radius: 4px;
  color: #ffffff;
  font-family: "Righteous", cursive;
  font-size: 1.4em;
}

@media (min-width: 426px) {
  #body {
    background-size: 170%;
    width: 100%;
    box-sizing: border-box;
  }

  .disco {
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .celula {
    border: 1px solid;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  h3 {
    font-size: 3em;
    align-items: center;
  }
}

@media (min-width: 769px) {
  #body {
    background-size: 120%;
    max-width: 100%;
  }

  .disco {
    background-color: black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  .celula {
    border: 1px solid;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  h1 {
    font-size: 80px;
    color: #ffffff;
    text-shadow: 4px 4px black;
  }

  p {
    text-align: center;
    font-size: 1.4em;
    color: #ffffff;
    padding: 20px 40px;
  }

  #restart {
    width: 310px;
    height: 56px;
    font-size: 30px;
  }

  #vitoria {
    width: 420px;
    height: 80px;
<<<<<<< HEAD
    font-size: 34px;
=======
    font-size: 30px;
>>>>>>> f6ee000e274da9aef8e1d93e0be3d2c354953420
    border: 2px solid #ffffff;
  }

  @media (min-width: 900px) {
    #body {
      background-size: 100%;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
    }

    h1 {
      font-size: 4em;
      color: #ffffff;
      text-shadow: 2px 2px black;
    }

    p {
      text-align: center;
      font-size: 2em;
      color: rgb(255, 255, 255);
    }
    #vitoria {
      font-size: 30px;
    }
  }
  @media (min-width: 1200px) {
    #body {
      background-size: 70%;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      max-height: 80vh;
    }
    h1 {
      font-size: 5em;
    }
    p {
      max-width: 70%;
      color: rgb(255, 255, 255);
    }
    #vitoria {
      
      font-size: 30px;
    }
  }
}
